/* Reset */
html, body, div, span, applet, object, iframe,
h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    outline: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    /*background-color: black;*/
    /*color: white;*/
    background-image: url("table.jpg");
    background-size: 100% 100%;
    font-size: 20px;
}

a {
    color: black;
}

h1, h2, h3 {
    margin: 0px;
}

.white {
    color: white;
}

.red {
    color: red;
}

table, th, td {
	border: 1 solid white;
	border-collapse: collapse;
	padding: 5px;
}

.button {
    font-size: 24pt;
    background-image:url('metal.jpg');
    background-size: 100% 100%;
    color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 8px;
}

.help {
    cursor: help;
}

.parchment {
    background-image: url("parchment.png");
    background-size: 100% 100%;
    padding: 25px 50px;
}

.width33 {
    width: 33%;
}

.width25 {
    width: 25%;
}

.width100 {
    width: 100%;
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.alert {
    position: relative;
    background-image:url('metal.jpg');
    background-size: 100% 100%;
    padding: 10px 30px;
    border-radius: 16px;
    margin: auto;
    text-align: center;
    width: 85%;
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}